@model IEnumerable<codigonaveia.services.cursos.WebApplication.Models.CursosViewModel>

@{
    ViewData["Title"] = "ListaCursos";  
}

<h1>ListaCursos</h1>

<div class="container">
    <br />
    <div class="mb-3">
        @Html.ActionLink("Novo Curso","Registrar","Cursos",  null,new{@class="btn btn-primary"})
    </div>
    <div class="card">
        <div class="card-header">
            <label>Lista de Cursos</label>
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Data</th>
                        <th>Titulo</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.Id</th>
                            <th>@item.DataRegistro</th>
                            <th>@item.Titulo</th>
                            <th>@item.Descricao</th>
                            <th>@item.Valor</th>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
     </div>
</div>
