@model IEnumerable<codigonaveia.services.cursos.WebApplication.Models.CursosViewModel>

@{
    ViewData["Title"] = "ListaCursos";  
}

<h1>ListaCursos</h1>

<div class="container">
    <br />
    <div class="mb-3">
        @Html.ActionLink("Novo Curso","Registrar","Cursos",  null,new{@class="btn btn-primary"})
    </div>
    @if (TempData["Msg"] != null){
            <label class="text text-success=">@TempData["Msg"] </label>
    }
    <div class="card">
        <div class="card-header">
            <label>Lista de Cursos</label>
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Data</td>
                        <td>Titulo</td>
                        <td>Descrição</td>
                        <td>Valor</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.DataRegistro</td>
                            <td>@item.Titulo</td>
                            <td>@item.Descricao</td>
                            <td>@item.Valor</td>
                            <td>
                                <button type="button" class="btn btn-danger btnDelete" data-id="@item.Id">Excluir</button>        
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning btnUpdate" data-id="@item.Id">Atualizar</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btnDetalhes" data-id="@item.Id">Detalhes</button>                                    
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
     </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
@section scripts{
        <script src="~/js/Crudcursos.js">
        //$('.btnDelete').click(function(){
        //    var Id= $(this).attr('data-id');
        //    var Url = "/Cursos/ExcluirCurso?Id=" + Id;
        //    //alert(Url);
        //    if(confirm("Realmente deseja excluir este curso?")){
        //        $.ajax({
        //            type:'Delete',
        //            url:Url,
        //            success: function(result){
        //                alert("Curso Excluido com sucesso!")
        //                window.location.href = "/Cursos/ListaCursos";
                        
        //            }
        //        });
        //    }
        //});

        //$('.btnDetalhes').click(function(){
        //    var Id= $(this).attr('data-id');
        //    var Url = "/Cursos/Detalhe?Id=" + Id;
        //    $('#modal').load(
        //        Url,
        //        function(){
        //        $('#modal').modal('show');
        //    });

        //});

        //    $('.btnUpdate').click(function(){
        //        var Id= $(this).attr('data-id');
        //        var Url = "/Cursos/Alterar?Id=" + Id;
        //        $('#modal').load(
        //            Url,
        //            function(){
        //            $('#modal').modal('show');
        //        });

        //    });

    </script>
}